/* General */
body {
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Pokemon Solid', sans-serif;
}

.row {
    width: 100%;
    display: flex;
}

form {
    margin-top: 20px;

}

.grande{
    width: 80%;
}

/* Tamaños letras */
p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.h1b{
    text-align: center;
    background-color: greenyellow;
}

.fondoh1{
    background-image: url(./../img/fondoh1.png);
    background-size: cover;
}

h1{
    text-align: center;
    background-color: greenyellow;
    margin-left: 25%;
    margin-right: 25%;
}

h2{
    text-align: center;
    font-weight: 10%;
    background-color: greenyellow;
    margin-left: 40%;
    margin-right: 40%;
}

/* Fondos */
.fondo {
    background-image: url('./../img/intento2.webp');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.fondo1{
    background-image: url(./../img/laboratorio.png);
    background-size: cover;
    width: 100%;
}

.fondo2{
    background-image: url(./../img/fondo2.jpg);
    background-size: cover;

}

.fondo3{
    background-image: url(./../img/kanto.jpeg);
    background-size: cover;
    width: 100%;

}

.fondo4{
    background-image: url(./../img/Mapa_Kalos.webp);
    background-size: cover;
}
.fondo5{
    background-image: url(./../img/Sinnoh_fondo.webp);
    background-size: cover;
}
.fondo6{
    background-image: url(./../img/fondo6.jpg);
    background-size: cover;    

}
.fondo7{
    background-image: url(./../img/diploma.png);
    height: 100%;
    background-size: cover;  
}

/* Imagenes */
.img1{
    width: 30%;
    margin-top: 60%;
    padding: 5%;
}

.img2{
    width: 50%;
}

.imgg{
    width: 12%;
}

/* Filas */
.fila1 {
    width: 30%;
}

.fila1_b {
    width: 100%;
}

/* Pokeballs */
.pokeball_b{
    width: 2%;
}

.pokeball {
    width: 5%;
}

.pokeball1{
    width: 8%;
}

.pokeball-container {
    text-align: center;
}

/* Columnas */
.colum33 {
    width: 33%;
    text-align: center;
}

.colum50{
    width: 50%;
}

.colum60{
    width: 60%;
    text-align: center;
}

/* Inputs */
input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

input[type="image"] {
    width: 7%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.img2-b {
    display: inline-block;
    margin: 0 10px;
}

/* Contenedores */
.container2 {
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.contenedor-b {
    margin-top: 20px;
    text-align: center;
}

/* Pokemons */
.centro {
    text-align: center;
}

.pokemons{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.pokemons img{
    width: 50%;
}

.texto-pokemon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    white-space: nowrap;
    animation: escribir 4.5s steps(60) forwards;
    text-align: center;
    font-size: 26px;
}


/* keyframes */
@keyframes escribir {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

/* media query */
@media only screen and (max-width:600px) {

    .fondo{
        
    }
    .row{
       flex-direction: column;
    }
    
}
body {
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Pokemon Solid', sans-serif;
}

.row {
    width: 100%;
    display: flex;
}

form {
    margin-top: 20px;

}

.grande{
    width: 80%;
}

/* Tamaños letras */
p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.h1b{
    text-align: center;
    background-color: greenyellow;
}

.fondoh1{
    background-image: url(./../img/fondoh1.png);
    background-size: cover;
}

h1{
    text-align: center;
    background-color: greenyellow;
    margin-left: 25%;
    margin-right: 25%;
}

h2{
    text-align: center;
    font-weight: 10%;
    background-color: greenyellow;
    margin-left: 40%;
    margin-right: 40%;
}

/* Fondos */
.fondo {
    background-image: url('./../img/intento2.webp');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.fondo1{
    background-image: url(./../img/laboratorio.png);
    background-size: cover;
    width: 100%;
}

.fondo2{
    background-image: url(./../img/fondo2.jpg);
    background-size: cover;

}

.fondo3{
    background-image: url(./../img/kanto.jpeg);
    background-size: cover;
    width: 100%;

}

.fondo4{
    background-image: url(./../img/Mapa_Kalos.webp);
    background-size: cover;
}
.fondo5{
    background-image: url(./../img/Sinnoh_fondo.webp);
    background-size: cover;
}
.fondo6{
    background-image: url(./../img/fondo6.jpg);
    background-size: cover;    

}
.fondo7{
    background-image: url(./../img/diploma.png);
    height: 100%;
    background-size: cover;  
}

/* Imagenes */
.img1{
    width: 30%;
    margin-top: 60%;
    padding: 5%;
}

.img2{
    width: 50%;
}

.imgg{
    width: 12%;
}

/* Filas */
.fila1 {
    width: 30%;
}

.fila1_b {
    width: 100%;
}

/* Pokeballs */
.pokeball_b{
    width: 2%;
}

.pokeball {
    width: 5%;
}

.pokeball1{
    width: 8%;
}

.pokeball-container {
    text-align: center;
}

/* Columnas */
.colum33 {
    width: 33%;
    text-align: center;
}

.colum50{
    width: 50%;
}

.colum60{
    width: 60%;
    text-align: center;
}

/* Inputs */
input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

input[type="image"] {
    width: 7%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.img2-b {
    display: inline-block;
    margin: 0 10px;
}

/* Contenedores */
.container2 {
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.contenedor-b {
    margin-top: 20px;
    text-align: center;
}

/* Pokemons */
.centro {
    text-align: center;
}

.pokemons{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.pokemons img{
    width: 50%;
}

.texto-pokemon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    white-space: nowrap;
    animation: escribir 4.5s steps(60) forwards;
    text-align: center;
    font-size: 26px;
}